In [33]:
import os
import requests
import pandas as pd
import numpy as np
from dotenv import load_dotenv
import  alpaca_trade_api as tradeapi

In [34]:
load_dotenv('api.env')

True

In [35]:
alpaca_api_key = os.getenv("key")
alpaca_secret_key = os.getenv("secret")

In [36]:
display(alpaca_api_key)
display(alpaca_secret_key)

'PK4NXRWR5NEZL1HWC8MQ'

'kkQL3M1FJzL6TxEGQentqHFfJOhe53UVxSv1vcvp'

In [37]:
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")

In [38]:
ticker = ["AAPL"]
timeframe = "1Day"
start_date = pd.Timestamp("2010-01-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2023-05-03", tz="America/New_York").isoformat()

In [39]:
aapl = alpaca.get_bars(
    ticker,
    timeframe,
    start=start_date,
    end=end_date
).df

In [40]:
aapl.head()

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2015-12-01 05:00:00+00:00,118.75,118.81,116.86,117.34,34852374,187129,117.756760,AAPL
2015-12-02 05:00:00+00:00,117.05,118.11,116.08,116.28,33385643,180616,117.151198,AAPL
2015-12-03 05:00:00+00:00,116.55,116.79,114.22,115.20,41560785,245330,115.434888,AAPL
2015-12-04 05:00:00+00:00,115.29,119.25,115.11,119.03,57776977,307788,118.187290,AAPL
2015-12-07 05:00:00+00:00,118.98,119.86,117.81,118.28,32080754,190809,118.509111,AAPL

In [41]:
aapl.tail()

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2023-04-27 04:00:00+00:00,165.19,168.56,165.1900,168.41,64891617,575890,167.319460,AAPL
2023-04-28 04:00:00+00:00,168.49,169.85,167.8801,169.68,53888026,513328,168.948227,AAPL
2023-05-01 04:00:00+00:00,169.28,170.45,168.6400,169.59,52520935,540746,169.657850,AAPL
2023-05-02 04:00:00+00:00,170.09,170.35,167.5400,168.54,41042937,495679,168.730618,AAPL
2023-05-03 04:00:00+00:00,169.50,170.92,167.1600,167.45,60338108,573207,169.181932,AAPL

In [42]:
daily_returns_aapl = aapl['close'].pct_change().dropna()
daily_returns_aapl.head()

timestamp
2015-12-02 05:00:00+00:00   -0.009034
2015-12-03 05:00:00+00:00   -0.009288
2015-12-04 05:00:00+00:00    0.033247
2015-12-07 05:00:00+00:00   -0.006301
2015-12-08 05:00:00+00:00   -0.000423
Name: close, dtype: float64

In [46]:
#annualized average return = aar, 1260 days = 5 years
aar_aapl = daily_returns_aapl.mean() * 1260

In [47]:
#annualized standart deviation = asd
asd_aapl = daily_returns_aapl.std() * np.sqrt(1260)

In [48]:
display(aar_aapl)
display(asd_aapl)

0.8973856960560522

0.9278521244591379

In [50]:
#sharpe ratio = sr. I am not sure how to count correct RISK-FREE-RATE
sr_aapl = aar_aapl / asd_aapl

In [51]:
display(sr_aapl)

0.9671645646973702